{
    "parser": "babel-eslint",
    "env": {
        "browser": true
    },
    "rules": {
        "strict": 0,
        "quotes": [2, "single"],
        "no-unused-vars": 0,
        "no-redeclare": 0,
        "no-console": 0
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "templateStrings": true,
        "restParams": true
    }
}
